# Dependency directories
node_modules/

.env

# Deno
.deno/
deno.lock
coverage/
.coverage/
coverage.lcov

target/
!build-verification/src/providers/target/
!build-verification/src/providers/target/**

**/.bindings/
_internal/contracts/*/local-bindings/

**/test_snapshots/


.DS_Store
